@theme {
  --color-main: #FF5900;
  --color-main-hover: #FF7327;
  --color-main-active: #EB5200;

  --color-bad: #DA3A3A;
  --color-bad-hover: #F64D4D;
  --color-bad-active: #D92B2B;

  --color-good: #2BD036;
  --color-good-hover: #3FE84B;
  --color-good-active: #13A31C;

  --color-bg-main: #F3F3F3;
  --color-bg-second: #D7D7D7;
  --color-bg-second-hover: #C4C4C4;
  --color-bg-input: #FFFFFF;
  --color-bg-chat-message-other: #555555;
  --color-bg-blur: rgba(0,0,0,0.25);
  --color-bg-table-header: rgba(217, 217, 217, 1);//#D9D9D9;
  --color-bg-table-even: rgba(217, 217, 217, 0.4);//#D9D9D9;
  --color-bg-table-odd: transparent;

  --color-text-main: #141414;
  --color-text-second: #EDEDED;
  --color-text-description: #757575;
  --color-text-placeholder: #A9A9A9;
  --color-text-chat: #AAFF33;
  --color-text-logo: #404040;
  --color-text-error: #F24343;

  --color-border-main: #D7D7D7;
  --color-border-second: #949494;
  --color-border-focus: #2C80FF;
}

@layer base {
  *{
    color: var(--color-text-main);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-text-placeholder);
  }

  input, textarea{
    outline: none;
    background-color: var(--color-bg-input);
    border: 2px solid var(--color-border-main);
    min-width: none;
    width: auto;
  }
}

@layer components {
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
    border-radius: var(--radius-md);
    padding: 4px 8px;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    transition: background-color .10s ease-out;
    cursor: pointer;

    & p{
      user-select: none;
    }

    &-main{
      background-color: var(--color-main);

      & p{
        color: var(--color-text-second);
      }

      &:hover{
        background-color: var(--color-main-hover);
      }
      &:active{
        background-color: var(--color-main-active);
      }
    }

    &-main-bad{
      background-color: var(--color-bad);

      & p{
        color: var(--color-text-second);
      }

      &:hover{
        background-color: var(--color-bad-hover);
      }
      &:active{
        background-color: var(--color-bad-active);
      }
    }

    &-main-good{
      background-color: var(--color-good);

      & p{
        color: var(--color-text-second);
      }

      &:hover{
        background-color: var(--color-good-hover);
      }
      &:active{
        background-color: var(--color-good-active);
      }
    }

    &-light{
      border: 2px solid var(--color-main);

      &:hover{
        border-color: var(--color-main-hover);
      }
      &:active{
        border-color: var(--color-main-active);
      }
    }

    &-light-bad{
      border: 2px solid var(--color-bad);

      &:hover{
        border-color: var(--color-bad-hover);
      }
      &:active{
        border-color: var(--color-bad-active);
      }
    }

    &-light-good{
      border: 2px solid var(--color-good);

      &:hover{
        border-color: var(--color-good-hover);
      }
      &:active{
        border-color: var(--color-good-active);
      }
    }
  }

  .scrollable {
    --scroll-bar-width: 6px;
    --scroll-bar-border-radius: 3px;
    --scroll-track-color: #919191;
    --scroll-thumb-color: #df6d31;

    overflow-y: scroll;
    scrollbar-width:var(--scroll-bar-width);
    touch-action: pan-y; // обязательно для свайпа в сторону на мобильной версии

    &::-webkit-scrollbar{
      width: var(--scroll-bar-width);
    }
    &::-moz-scrollbar {
      width: var(--scroll-bar-width);
    }

    &::-webkit-scrollbar-track{
      background-color: var(--scroll-track-color);
      border-radius: var(--scroll-bar-border-radius);
      transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-track {
      background-color: var(--scroll-track-color);
      border-radius: var(--scroll-bar-border-radius);
      transition: background-color 1s ease-in-out;
    }

    &::-webkit-scrollbar-thumb{
      background-color: var(--scroll-thumb-color);
      border-radius: var(--scroll-bar-border-radius);
      transition: background-color 1s ease-in-out;
    }
    &::-moz-scrollbar-thumb {
      background-color: var(--scroll-thumb-color);
      border-radius: var(--scroll-bar-border-radius);
      transition: background-color 1s ease-in-out;
    }

    &-invisible{
      scrollbar-width: 0px;
  
      &::-webkit-scrollbar{
        width: 0px;
      }
      &::-moz-scrollbar {
        width: 0px;
      }
    }

    &-track-invisible{
      --scroll-track-color: transparent;
    }

    &-x-y{
      --scroll-bar-width: 6px;
      --scroll-bar-height: 6px;

      overflow-x: scroll;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: var(--scroll-thumb-color) #dddddd;
    }
  }

  .custom-input{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    column-gap: 4px;
    outline: none;
    border-radius: 4px;
    border: 2px solid var(--color-border-main);
    background-color: var(--color-bg-input);
    padding: 0 8px;

    & > input{
      @apply text-lg py-1 bg-transparent grow rounded border-none min-w-0 w-full;
    }

    &:focus-within{
      outline: 2px solid var(--color-border-focus);
    }

    &-slider{
      // --size: 20px;
      --on: var(--color-main);
      --off: var(--color-bg-second);
      --circle: rgb(255,255,255);
    
      display: block;
      position: relative;
      // width: var(--size);
      // height: var(--size);
      cursor: pointer;

      &:before, &:after{
        content: "";
        position: absolute;
      }
      &:before{
        height: 100%;
        width: 200%;
        background-color: var(--off);
        box-shadow: 0 0 0 1px var(--off);
        transform: translate( -25% , 0 );
        border-radius: 30px;
        transition: all 0.2s ease-in-out; 
      }
      &:after{
        width: 80%;
        height: 80%;
        margin-top: 10%;
        margin-left: 10%;
        background-color: var(--circle);
        border-radius: 30px;
        transform: translate( -60% , 0 );
        transition: all 0.2s ease-in-out;
      }
      &:checked:after{
        transform: translate( 60% , 0 );
      }
      &:checked:before{
        background-color: var(--on);
        box-shadow: 0 0 0 1px var(--on);
      }
    }
  }

  .topic-grid{
    display: grid;
    grid-template-columns: 5fr clamp(50px, 10%, 70px) clamp(50px, 10%, 60px) clamp(50px, 10%, 80px) clamp(50px, 15%, 90px) 50px;
  }
}