@theme {
  --color-main: #FF5900;
  --color-main-hover: #FF7327;
  --color-main-active: #EB5200;
  --color-bad: #DA3A3A;
  --color-bad-hover: #F64D4D;
  --color-bad-active: #D92B2B;
  --color-good: #2BD036;
  --color-good-hover: #3FE84B;
  --color-good-active: #13A31C;
  --color-bg-main: #F3F3F3;
  --color-bg-second: #D7D7D7;
  --color-bg-second-hover: #C4C4C4;
  --color-bg-input: #FFFFFF;
  --color-bg-chat-message-other: #555555;
  --color-bg-blur: rgba(0,0,0,0.25);
  --color-bg-table-header: rgba(217, 217, 217, 1);
  --color-bg-table-even: rgba(217, 217, 217, 0.4);
  --color-bg-table-odd: transparent;
  --color-text-main: #141414;
  --color-text-second: #EDEDED;
  --color-text-description: #757575;
  --color-text-placeholder: #A9A9A9;
  --color-text-chat: #AAFF33;
  --color-text-logo: #404040;
  --color-text-error: #F24343;
  --color-border-main: #D7D7D7;
  --color-border-second: #949494;
  --color-border-focus: #2C80FF;
}
@layer base {
  * {
    color: var(--color-text-main);
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: var(--color-text-placeholder);
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--color-text-placeholder);
  }
  input, textarea {
    outline: none;
    background-color: var(--color-bg-input);
    border: 2px solid var(--color-border-main);
    min-width: none;
    width: auto;
  }
}
@layer components {
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
    border-radius: var(--radius-md);
    padding: 8px 4px;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
  }
  .btn p {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .btn-main {
    background-color: var(--color-main);
  }
  .btn-main p {
    color: var(--color-text-second);
  }
  .btn-main:hover {
    background-color: var(--color-main-hover);
  }
  .btn-main:active {
    background-color: var(--color-main-active);
  }
  .btn-main-bad {
    background-color: var(--color-bad);
  }
  .btn-main-bad p {
    color: var(--color-text-second);
  }
  .btn-main-bad:hover {
    background-color: var(--color-bad-hover);
  }
  .btn-main-bad:active {
    background-color: var(--color-bad-active);
  }
  .btn-main-good {
    background-color: var(--color-good);
  }
  .btn-main-good p {
    color: var(--color-text-second);
  }
  .btn-main-good:hover {
    background-color: var(--color-good-hover);
  }
  .btn-main-good:active {
    background-color: var(--color-good-active);
  }
  .btn-light {
    border: 2px solid var(--color-main);
  }
  .btn-light:hover {
    border-color: var(--color-main-hover);
  }
  .btn-light:active {
    border-color: var(--color-main-active);
  }
  .btn-light-bad {
    border: 2px solid var(--color-bad);
  }
  .btn-light-bad:hover {
    border-color: var(--color-bad-hover);
  }
  .btn-light-bad:active {
    border-color: var(--color-bad-active);
  }
  .btn-light-good {
    border: 2px solid var(--color-good);
  }
  .btn-light-good:hover {
    border-color: var(--color-good-hover);
  }
  .btn-light-good:active {
    border-color: var(--color-good-active);
  }
  .scrollable {
    --scroll-bar-width: 6px;
    --scroll-bar-border-radius: 3px;
    --scroll-track-color: #919191;
    --scroll-thumb-color: #df6d31;
    overflow-y: scroll;
    scrollbar-width: var(--scroll-bar-width);
    touch-action: pan-y;
  }
  .scrollable::-webkit-scrollbar {
    width: var(--scroll-bar-width);
  }
  .scrollable::-moz-scrollbar {
    width: var(--scroll-bar-width);
  }
  .scrollable::-webkit-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: var(--scroll-bar-border-radius);
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
  }
  .scrollable::-moz-scrollbar-track {
    background-color: var(--scroll-track-color);
    border-radius: var(--scroll-bar-border-radius);
    -moz-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-bar-border-radius);
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
  }
  .scrollable::-moz-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--scroll-bar-border-radius);
    -moz-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
  }
  .scrollable-invisible {
    scrollbar-width: 0px;
  }
  .scrollable-invisible::-webkit-scrollbar {
    width: 0px;
  }
  .scrollable-invisible::-moz-scrollbar {
    width: 0px;
  }
  .scrollable-x-y {
    --scroll-bar-width: 6px;
    --scroll-bar-height: 6px;
    overflow-x: scroll;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) #dddddd;
  }
  .custom-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    -moz-column-gap: 4px;
         column-gap: 4px;
    outline: none;
    border-radius: 4px;
    border: 2px solid var(--color-border-main);
    background-color: var(--color-bg-input);
    padding: 0 8px;
  }
  .custom-input > input {
    @apply text-lg py-1 bg-transparent grow rounded border-none min-w-0 w-full;
  }
  .custom-input:focus-within {
    outline: 2px solid var(--color-border-focus);
  }
  .custom-input-slider {
    --on: var(--color-main);
    --off: var(--color-bg-second);
    --circle: rgb(255,255,255);
    display: block;
    position: relative;
    cursor: pointer;
  }
  .custom-input-slider:before, .custom-input-slider:after {
    content: "";
    position: absolute;
  }
  .custom-input-slider:before {
    height: 100%;
    width: 200%;
    background-color: var(--off);
    box-shadow: 0 0 0 1px var(--off);
    transform: translate(-25%, 0);
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
  }
  .custom-input-slider:after {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
    background-color: var(--circle);
    border-radius: 30px;
    transform: translate(-60%, 0);
    transition: all 0.2s ease-in-out;
  }
  .custom-input-slider:checked:after {
    transform: translate(60%, 0);
  }
  .custom-input-slider:checked:before {
    background-color: var(--on);
    box-shadow: 0 0 0 1px var(--on);
  }
}/*# sourceMappingURL=style.css.map */